.home
{
	display: grid;
	grid-template-columns: 1fr;
	grid-template-areas: "main"
}
.content
{
	grid-area: main;
	display: flex;
	flex-direction: column;
}
.iconWeathDesc
{
	font-size: 3.5vw;
}
.weather, .description
{}
.pickDigree
{
	margin-bottom: 1em;
}
.pickDigree, .latFavLong, .cityDiv
{
	margin-top: 1em;
}
.historyDiv
{
	margin-top: 2em;
}
.celButton
{}
.degree
{
	margin: 0em 1em;
}
.fahrButton
{}
.celButton, .fahrButton
{
	margin: 0;
}
.celButton, .degree, .fahrButton
{
	display: inline-block;
	font-size: 7vw;
}
.infoDiv
{
	color: #FFFFFF;
}
.feeMinMax
{
	margin-bottom: 0.5em;
}
.minDiv
{
	margin: 0em 1em;
}
.feelsDiv, .minDiv, .maxDiv
{
	display: inline-block;
	font-size: 3.5vw;
}
.feels
{}
.min
{}
.max
{}
.feels, .min, .max
{
	margin-top: 0em;
	margin-bottom: 0.5em;
}
.presHum
{}
.presDiv
{
	margin-right: 1em;
}
.humiDiv
{}
.presDiv, .humiDiv
{
	display: inline-block;
	font-size: 3.5vw;
}
.pressure
{}
.humidity
{}
.pressure, .humidity
{
	margin-top: 0em;
	margin-bottom: 0.5em;
}
.latField
{}
.favButton
{
	margin: 0em 1em;
	font-size: 3.5vw;
}
.longField
{}
.latField, .favButton, .longField
{}
.cityField
{}
.historyButton
{
	font-size: 3.5vw;
}
h3
{
	color: #FFFFFF;
}
h4
{
	color: #FFFFFF;
}
button
{
	border: 2px solid #FFFFFF;
	background-color: #003BAE;
	color: #FFFFFF;
	transition: background-color 1s, color 1s;
	margin: 1em;
	padding: 2px;
}
button:focus
{
	outline: none;
}
button:enabled:hover, button:enabled:active
{
	background-color: #FFFFFF;
	color: #003BAE;
}
input
{
	border: 2px solid #FFFFFF;
	background-color: #003BAE;
	color: #FFFFFF;
	padding: 2px;
	font-size: 3.5vw;
	width: 24vw;
}
input:focus
{
	outline: none;
}
button:disabled, input:disabled
{
	opacity: 50%;
}
